@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Permanent+Marker&family=Roboto+Mono&display=swap');

html
{
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
}

h1,h2
{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.navbar-brand
{
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}

a
{
    color: black;
    text-decoration: none;
}

a:hover
{
    color: black;
    text-decoration: none;
}

ul
{
    list-style: none;
}

.icon
{
    width: 25px;
}

header
{
    margin-top: 74px;
}

section
{
    min-height: 100vh;
}

footer
{
    min-height: 74px;
}

.flex-center
{
	display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-column
{
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-start
{
	display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* JQuery UI CSS - Start */

.ui-slider
{
	background-color: rgba(173, 181, 189,.8);
	height: 10px;
}

.ui-slider-range
{
   
   background-color: rgb(73, 80, 87);
}

.ui-slider .ui-slider-handle
{
	background-color: rgb(248, 249, 250);
	width: 15px;
  	transition: opacity .2s;
  	z-index: 1;
}

.slider
{
	width: 125px;
}

/* header */
select
{
    padding: 5px;
	width: 150px;
	box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.5);
}

/* my-avorites */
#my-favorites h1, #my-favorites h3 
{
    text-align: start;
}

/* search-favotites */
#search-favorites
{
    z-index: -1;
}

/* animation */
header, section, footer
{
    opacity: 0;
    animation: fade 1s ease-in .2s forwards;
}

@keyframes fade
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 360px) { 
    h1
    {
        font-size: 25px;
    }

    h2
    {
        font-size: 20px;
    }
    h3
    {
        font-size: 15px;
    }

    p
    {
        font-size: 10px;
    }
    .card-title
    {
        height: 60px;
    } 
    .card-description
    {
        height: 50px;
        overflow: hidden;
    }    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1
    {
        font-size: 30px;
    }

    h2
    {
        font-size: 25px;
    }
    h3
    {
        font-size: 20px;
    }

    p
    {
        font-size: 15px;
    }
    .card-title
    {
        height: 70px;
    } 
    .card-description
    {
        height: 60px;
    }    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h1
    {
        font-size: 35px;
    }

    h2
    {
        font-size: 30px;
    }
    h3
    {
        font-size: 25px;
    }

    p
    {
        font-size: 20px;
    }
    .card-title
    {
        height: 80px;
    }
}