@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Permanent+Marker&family=Roboto+Mono&display=swap');

html
{
    font-family: 'Roboto Mono', monospace;
}

.heading
{
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand
{
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}

a
{
    color: black;
    text-decoration: none;
}

a:hover
{
    color: black;
    text-decoration: none;
}

ul
{
    list-style: none;
}

.icon
{
    width: 25px;
    height: auto;
}

.flex-center
{
	display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-column
{
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-start-column
{
	display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

section
{
   min-height: 61vh;
}

section > div, footer
{
    margin-top: 55px;
}

/* navigation */
.nav-icon
{
    margin-right: 20px;
}

/* header */
header
{
    margin-top: 110px;;
}
.jumbotron
{
    color: white;
    background-color: red;
}

.box
{
    font-weight: bold;
    color: black;
    text-align: center;
}

.our-collection:hover
{
    background-color: white;
}

/* search */
.search
{
    background-color: rgba(256,256,256,.8);
	box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.5);
}

.search-type
{
    font-size: 1.5rem;
}

.search-item
{
    margin: 20px 0;
}

.search-btn a
{
    color: white;
}

.search-btn:hover
{
    background-color: white;
}

.search-btn:hover a
{
    color: black;
}

select
{
    padding: 5px;
	width: 200px;
	box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.5);
}

/* collection */
.collection .card:hover
{
    background-color: rgba(0,0,0,.1);
}

/* shoe */
#shoe
{
    min-height: 90vh;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
       
}