@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Pacifico&family=Roboto+Mono:wght@500&display=swap');

html
{
    font-family: 'Roboto Mono', monospace;
}

.heading
{
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand
{
    font-family: 'Pacifico', cursive;
}

a
{
    color: black;
    text-decoration: none;
}

ul
{
    list-style: none;
}

.icon
{
    width: 25px;
    height: auto;
}

section, footer
{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-center
{
	display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-column
{
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* navigation */
.nav-icon
{
    margin-right: 20px;
}

/* search */
.search
{
    background-color: rgba(256,256,256,.8);
	box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.5);
}

.search-heading
{
    font-size: 2rem;
}

.search-type
{
    font-size: 1.5rem;
}

.search-item
{
    margin: 20px 0;
}

select
{
    padding: 5px;
	width: 200px;
	box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.5);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
       
}